@model SuperVoyageInfini.Database.Models.Voyage

@{ ViewBag.Title = AppResource.Details; }

@section Scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">              
                @Html.Partial("_details", Model)
            </div>          
        </div>
    </div>

    <div class="row">
        <h1>Participants</h1>
        <!--Si personne est connecté. on ne peut pas ajouter de participant-->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-12">
                <div style="padding-top:10px; padding-bottom:30px;" class="input-group">
                <!--Ajouter un participant-->
                @{
                    AjaxOptions optionsAdd = new AjaxOptions();
                    optionsAdd.HttpMethod = "POST";
                    optionsAdd.UpdateTargetId = "participants";

                }

                @using (Ajax.BeginForm("AddParticipant", "Voyages", optionsAdd))
                {
                    @Html.HiddenFor(model => model.Id);
                    <input type="email" class="form-control" placeholder="@AppResource.Email" name="email">
                    <button style="margin-top:20px;" class="btn btn-primary">@AppResource.AddParticipant</button>
                }
            </div>
            </div>
        }
    </div>

    <div class="row" id="participants">
        @Html.Partial("_participants", Model)
    </div>

